---
import { getCollection } from "astro:content";

import BlogPostItem from "@/components/BlogPostItem.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p transition:name="subtitle">This is where I will post about my journey learning Astro.</p>
	<ul>
		{
			allPosts.map((post) => (
				<BlogPostItem
					transition:name="blogPostTitle"
					url={`/posts/${post.slug}/`}
					title={post.data.title}
				/>
			))
		}
	</ul>
</BaseLayout>
